<ul>
    {{#each users as |user|}}
        <li>
            <p>User id: {{user.id}}</p>
            <p>Username: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
        </li>
    {{/each}}
</ul>